<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <title>My Little Brain</title>
	<script src="js/vendor/zepto.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>
	<script src="js/vendor/backbone-localstorage.js"></script>

	

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
 <body>

        <script type="text/template" id="contact-template">
            <span><%= id %></span>
            <span><%= nom %></span>
            <span><%= prenom %></span>
            <span><%= numero %></span>
        </script>


        <div id='contact-container'></div>

    </body>
    <script src="js/myLittleBrain.js"></script>

</html>